{% extends 'base.html.twig' %}

{% block title %}Visit{% endblock %}

{% block body %}
    <h1>Visit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visit.id }}</td>
            </tr>
            <tr>
                <th>Pictures</th>
                <td>{{ visit.pictures ? visit.pictures|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ visit.country }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ visit.adress }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ visit.date ? visit.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Start_time</th>
                <td>{{ visit.startTime ? visit.startTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End_time</th>
                <td>{{ visit.endTime ? visit.endTime|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ visit.duration }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ visit.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_visit_index') }}">back to list</a>

    <a href="{{ path('app_visit_edit', {'id': visit.id}) }}">edit</a>

    {{ include('visit/_delete_form.html.twig') }}
{% endblock %}
