{% block body %}
	<div class="sidebar">
		<ul class="sidebar-menu mt-5">
			<li>
				<a href="{{ path('app_home') }}" class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}">
					<i class="bi bi-house-door"></i>
					Menu
				</a>
			</li>

			<li>

				<a href="#" class="{{ app.request.attributes.get('_route') starts with 'app_tour_guides' ? 'active' : '' }}">
					<i class="bi bi-person-badge"></i>
					Tour Guides
				</a>
			</li>

			<li>
				<a href="{{ path('app_visit_index') }}" class="{{ app.request.attributes.get('_route') matches '/^app_visit(_|$)/' ? 'active' : '' }}">
					<i class="bi bi-geo-alt"></i>
					Visites
				</a>
			</li>

			<li>
				<a href="#" class="{{ app.request.attributes.get('_route') starts with 'app_statistics' ? 'active' : '' }}">
					<i class="bi bi-graph-up"></i>
					Statistiques
				</a>
			</li>

			<li>
				<a href="{{ path('app_visiteur_index') }}" class="{{ app.request.attributes.get('_route') matches '/^app_visiteur(_|$)/' ? 'active' : '' }}">
					<i class="bi bi-people"></i>
					Visiteurs
				</a>
			</li>

			<li>
				<a href="{{ path('app_user_index') }}" class="{{ app.request.attributes.get('_route') starts with 'app_user' ? 'active' : '' }}">
					<i class="bi bi-person"></i>
					Utilisateurs
				</a>
			</li>

			<li>
				<a href="{{ path('app_logout') }}" class="{{ app.request.attributes.get('_route') == 'app_logout' ? 'active' : '' }}">
					<i class="bi bi-box-arrow-right"></i>
					Sign Out
				</a>
			</li>
		</ul>
	</div>

{% endblock %}
